.container {
  width: 1170px;
  padding: 0 auto;
  margin: 0 auto;
  height: 500px;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(frame.jpg);
  background-size: cover;
  color: #00a096;
  font-weight: bold;
  text-align: center;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
}

.twitter {
  background-color: #1DA1F2;
}

.instagram {
  background-color: #D93177;
}

.btn-wrapper {
  margin:5px 0;
}
